<!DOCTYPE html>

<html lang="en">
<head>
    <title>:: Bidding Management System :: @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Bidding Automation System">
    <meta name="author" content="Design By: https://www.orangesolbd.com/">

    <link rel="icon" href= "~/images/favicon.png" type="image/x-icon">

    <!-- CORE CSS FRAMEWORK - START -->
    <!-- VENDOR CSS -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- MAIN CSS -->
    <link href="~/scripts/css/main.css" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
    <!-- CORE CSS FRAMEWORK - END -->

</head>
<body data-theme="light" class="font-nunito right_icon_toggle">
    <div id="wrapper" class="theme-green">

        <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30"><img src="~/images/logo-loader.png" width="48" height="48" alt="Orange Solution"></div>
                <p>Please wait...</p>
            </div>
        </div>

        <!-- Top navbar div start -->
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <button type="button" class="btn-toggle-offcanvas"><i class="fa fa-bars"></i></button>
                    <button type="button" class="btn-toggle-fullwidth"><i class="fa fa-bars"></i></button>
                    <a href="@Url.Action("Index", "Dashboard")">NABIL</a>
                </div>

                <div class="navbar-right">
                    <div id="navbar-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                    <i class="fa fa-bell"></i>
                                    <span class="notification-dot"></span>
                                </a>
                                <ul class="dropdown-menu notifications" id="notificationsList">
                                    <li class="header"><strong>You have new Notifications</strong></li>
                                    @*Will Load From JS*@
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("SignOutApp", "Security")" class="icon-menu"><i class="fa fa-power-off"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- main left menu -->
        <div id="left-sidebar" class="sidebar">
            <button type="button" class="btn-toggle-offcanvas"><i class="fa fa-arrow-left"></i></button>
            <div class="sidebar-scroll">
                <div class="user-account">
                    @if (string.IsNullOrEmpty(ViewBag.UserProfileImg))
                    {
                        <img src="~/images/user.png" class="rounded-circle user-photo" alt="User Profile Picture">
                    }
                    else
                    {
                        <img src="@ViewBag.UserProfileImg" class="rounded-circle user-photo" alt="User Profile Picture">
                    }
                    <div class="dropdown">
                        <span>Welcome,</span>
                        <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>@ViewBag.UserFullName</strong></a>
                        <ul class="dropdown-menu dropdown-menu-right account">
                            <li><a href="@Url.Action("Profile", "Dashboard")"><i class="icon-user"></i>My Profile</a></li>
                            <li><a href="@Url.Action("Profile", "Dashboard")"><i class="icon-envelope-open"></i>Password</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("SignOutApp", "Security")"><i class="icon-power"></i>Logout</a></li>
                        </ul>
                    </div>
                    <hr>
                    <ul class="row list-unstyled">
                        <li class="col-4 side-draft-bid">
                            <small>Draft Bid</small>
                            <h6>0</h6>
                        </li>
                        <li class="col-4 side-act-bid">
                            <small>Active Bid</small>
                            <h6>0</h6>
                        </li>
                        <li class="col-4 side-sms-bal">
                            <small>SMS</small>
                            <h6>৳ 0.00</h6>
                        </li>
                    </ul>
                </div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#menu">Menu</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Chat"><i class="icon-book-open"></i></a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#setting"><i class="icon-settings"></i></a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#question"><i class="icon-question"></i></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content padding-0">
                    <div class="tab-pane active" id="menu">
                        <nav id="left-sidebar-nav" class="sidebar-nav">
                            <ul id="main-menu" class="metismenu li_animation_delay">
                                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Dashboard" ? "active" : "")">
                                    <a href="#Dashboard" class="has-arrow"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
                                    <ul>
                                        <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                                    </ul>
                                </li>
                                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "General" ? "active" : "")">
                                    <a href="#App" class="has-arrow"><i class="fa fa-th-large"></i><span>General</span></a>
                                    <ul>
                                        <li><a href="@Url.Action("PartyCat", "General")">Party Category Setup</a></li>
                                        <li><a href="@Url.Action("PartyList", "General")">Party Setup</a></li>
                                        <li><a href="@Url.Action("ProdCat", "General")">Product Category Setup</a></li>
                                        <li><a href="@Url.Action("ProdList", "General")">Product Setup</a></li>
                                        <li><a href="@Url.Action("WareDet", "General")">Warehouse Setup</a></li>
                                    </ul>
                                </li>
                                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Bidding" ? "active" : "")">
                                    <a href="#Widgets" class="has-arrow"><i class="fa fa-puzzle-piece"></i><span>Bidding Management</span></a>
                                    <ul>
                                        <li><a href="@Url.Action("BidMngr", "Bidding")">Bid Management</a></li>
                                        <li><a href="@Url.Action("BidFinalizer", "Bidding")">Bid Finalizer</a></li>
                                        <li><a href="@Url.Action("SchedulMngr", "Bidding")">Scheduler</a></li>
                                        <li><a href="@Url.Action("SmsList", "Bidding")">SMS Receive List</a></li>
                                        <li><a href="@Url.Action("SmsSendLog", "Bidding")">SMS Send List</a></li>
                                        <li><a href="@Url.Action("NotifyList", "Bidding")">Notification List</a></li>
                                    </ul>
                                </li>
                                @if (ViewBag.UsrAccType == "3")
                                {
                                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Administration" ? "active" : "")">
                                        <a href="#Authentication" class="has-arrow"><i class="fa fa-lock"></i><span>Administration</span></a>
                                        <ul>
                                            <li><a href="@Url.Action("CompanyDet", "Administration")">Company Setup</a></li>
                                            <li><a href="@Url.Action("UserList", "Administration")">User Management</a></li>
                                            @*<li><a href="@Url.Action("UploadExcelFile", "Administration")">Upload Data</a></li>*@
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>

                    <div class="tab-pane" id="Chat">
                        <form>
                            <div class="input-group m-b-20">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-magnifier"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Search...">
                            </div>
                        </form>
                        <ul></ul>
                    </div>

                    <div class="tab-pane" id="setting">
                        <h6>Choose Skin</h6>
                        <ul class="choose-skin list-unstyled">
                            <li data-theme="purple"><div class="purple"></div></li>
                            <li data-theme="blue"><div class="blue"></div></li>
                            <li data-theme="cyan" class="active"><div class="cyan"></div></li>
                            <li data-theme="green"><div class="green"></div></li>
                            <li data-theme="orange"><div class="orange"></div></li>
                            <li data-theme="blush"><div class="blush"></div></li>
                            <li data-theme="red"><div class="red"></div></li>
                        </ul>

                        <ul class="list-unstyled font_setting mt-3">
                            <li>
                                <label class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="font" value="font-nunito" checked="">
                                    <span class="custom-control-label">Nunito Google Font</span>
                                </label>
                            </li>
                            <li>
                                <label class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="font" value="font-ubuntu">
                                    <span class="custom-control-label">Ubuntu Font</span>
                                </label>
                            </li>
                            <li>
                                <label class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="font" value="font-raleway">
                                    <span class="custom-control-label">Raleway Google Font</span>
                                </label>
                            </li>
                            <li>
                                <label class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="font" value="font-IBMplex">
                                    <span class="custom-control-label">IBM Plex Google Font</span>
                                </label>
                            </li>
                        </ul>

                        <ul class="list-unstyled mt-3">
                            <li class="d-flex align-items-center mb-2">
                                <label class="toggle-switch theme-switch">
                                    <input type="checkbox">
                                    <span class="toggle-switch-slider"></span>
                                </label>
                                <span class="ml-3">Enable Dark Mode!</span>
                            </li>
                            <li class="d-flex align-items-center mb-2">
                                <label class="toggle-switch theme-rtl">
                                    <input type="checkbox">
                                    <span class="toggle-switch-slider"></span>
                                </label>
                                <span class="ml-3">Enable RTL Mode!</span>
                            </li>
                            <li class="d-flex align-items-center mb-2">
                                <label class="toggle-switch theme-high-contrast">
                                    <input type="checkbox">
                                    <span class="toggle-switch-slider"></span>
                                </label>
                                <span class="ml-3">Enable High Contrast Mode!</span>
                            </li>
                        </ul>

                        <hr>
                        <h6>General Settings</h6>
                        <ul class="setting-list list-unstyled">
                            <li>
                                <label class="fancy-checkbox">
                                    <input type="checkbox" name="checkbox" checked>
                                    <span>Allowed Notifications</span>
                                </label>
                            </li>
                            <li>
                                <label class="fancy-checkbox">
                                    <input type="checkbox" name="checkbox">
                                    <span>Offline</span>
                                </label>
                            </li>
                            <li>
                                <label class="fancy-checkbox">
                                    <input type="checkbox" name="checkbox">
                                    <span>Location Permission</span>
                                </label>
                            </li>
                        </ul>

                        <a href="#" target="_blank" class="btn btn-block btn-primary">Contact Us</a>
                        <a href="https://www.orangesolbd.com/" target="_blank" class="btn btn-block btn-secondary">View Website</a>
                    </div>
                    <div class="tab-pane" id="question">
                        <form>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-magnifier"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Search...">
                            </div>
                        </form>
                        <ul class="list-unstyled question">
                            <li class="menu-heading">HOW-TO</li>
                            <li><a href="javascript:void(0);">How to Create Bid</a></li>
                            <li><a href="javascript:void(0);">How to send SMS</a></li>
                            <li><a href="javascript:void(0);">How to manage Party</a></li>
                            <li class="menu-heading">ACCOUNT</li>
                            <li><a href="javascript:void(0);">Creat New Account</a></li>
                            <li><a href="javascript:void(0);">Change Password?</a></li>
                            <li><a href="javascript:void(0);">Privacy &amp; Policy</a></li>
                            <li class="menu-heading">BILLING</li>
                            <li><a href="javascript:void(0);">Payment info</a></li>
                            <li><a href="javascript:void(0);">Auto-Renewal</a></li>
                            <li class="menu-button mt-3">
                                <a href="javascript:void(0);" class="btn btn-primary btn-block">Documentation</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- main page content body part -->
        <div id="main-content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- CORE JS FRAMEWORK - START -->
    <!-- Javascript -->
    <script src="~/lib/bundles/libscripts.bundle.js"></script>
    <script src="~/lib/bundles/vendorscripts.bundle.js"></script>
    <!-- page js file -->
    <script src="~/lib/bundles/mainscripts.bundle.js"></script>
    <script src="~/lib/momentjs/moment.min.js" type="text/javascript"></script>
    <script>
        var cachedData = localStorage.getItem('apiSmsData');
        if (cachedData) {
            var parsedData = JSON.parse(cachedData);
            $('.side-sms-bal h6').text(parsedData.data);
        } else {
            $('.side-sms-bal h6').text("0.00");
        }
        cachedData = localStorage.getItem('dashSummData');
        if (cachedData) {
            var parsedData = JSON.parse(cachedData);
            $('.side-draft-bid h6').text(parsedData.draftBid);
            $('.side-act-bid h6').text(parsedData.activeBid);
        } else {
            $('.side-draft-bid h6').text("0");
            $('.side-act-bid h6').text("0");
        }

        function loadUnreadNotifications() {
            $.ajax({
                url: '/Bidding/GetUnreadNotifications',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var notificationsHtml = '';

                    data.forEach(function (notification) {
                        var iconClass = getIconClass(notification.notType);
                        var timestamp = notification.creatTm; // Adjust this based on your timestamp format

                        notificationsHtml += `
                            <li>
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <div class="media-left">
                                            <i class="${iconClass}"></i>
                                        </div>
                                        <div class="media-body">
                                            <p class="text">${notification.notMsg}</p>
                                            <span class="timestamp">${moment(notification.creatTm).calendar()}</span>
                                        </div>
                                    </div>
                                </a>
                            </li>`;
                    });

                    $('#notificationsList').append(notificationsHtml);
                    $('#notificationsList').append('<li class="footer"><a href="@Url.Action("NotifyList", "Bidding")" class="more">See all notifications</a></li>');
                }
            });
        }

        function getIconClass(notType) {
            switch (notType) {
                case 1:
                    return 'icon-info text-success';
                case 2:
                    return 'icon-info text-primary';
                case 3:
                    return 'icon-info text-warning';
                case 4:
                    return 'icon-like text-info';
                default:
                    return 'icon-info text-muted';
            }
        }

        // Call the function when the page loads
        loadUnreadNotifications();
    </script>
    @RenderSection("scripts", false)
    <!-- CORE JS FRAMEWORK - END -->
</body>
</html>
